body {
    background-color: rgb(64, 138, 167);
    font-family: Montserrat, sans-serif;
}

input:focus::placeholder {
    color: transparent
}

.card {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16%;

    text-align: center;
    color: #ffffff;

    height: 350px;
    width: 300px;
    background-color: rgb(92, 92, 92);
    border: 6px outset white;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.5s step-start;
    position: relative;
    left: 0px;
}

.form {
    background-color: rgb(92, 92, 92);
}

.input {
    outline: none;
}

/* Style the form icons */
.icon1 {
    background: rgb(41, 187, 36);
    font-size: 25px;
    color: white;
    padding: 8px;
    min-width: 32px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icon2 {
    background: rgb(64, 138, 167);
    font-size: 25px;
    color: white;
    padding: 8px;
    min-width: 32px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#title {
    background-color: rgb(92, 92, 92);
    margin-top: 15%;
    margin-bottom: 13%;
}

#login {
    background-color: rgb(41, 187, 36);
    border-top: 2px solid rgb(41, 187, 36);
    border-bottom: 2px solid rgb(41, 187, 36);
    border-right: 2px solid rgb(41, 187, 36);
    border-left: 2px solid rgb(255, 255, 255);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.3s;
    padding: 13.3px 2% 2% 2%;
    cursor: pointer;
    width: 65%
}

#registar {
    border-top: 2px solid rgb(64, 138, 167);
    border-bottom: 2px solid rgb(64, 138, 167);
    border-right: 2px solid rgb(64, 138, 167);
    border-left: 2px solid rgb(255, 255, 255);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(64, 138, 167);
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center; 
    transition-duration: 0.3s;
    padding: 13.3px 2% 2% 2%;
    cursor: pointer;
    width: 65%;
}

#login:hover, #registar:hover {
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
}

#email1:hover, #password1:hover {
    cursor: pointer;
    border: 2px solid rgb(41, 187, 36);
}

#email1:focus, #password1:focus {
    border: 2px solid rgb(41, 187, 36);
    outline: 0
}

#email2:hover, #password2:hover, #nome:hover {
    cursor: pointer;
    border: 2px solid rgb(64, 138, 167);
}

#email2:focus, #password2:focus, #nome:focus {
    border: 2px solid rgb(64, 138, 167);
    outline: 0
}

#email1, #email2, #password1, #password2, #nome {
    border: 2px solid rgb(255, 255, 255);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ffffff;
    font-size: 15px;
    text-align: center; 
    transition-duration: 0.3s;
    margin-bottom: 5%;
    padding: 4.3% 2% 2% 2%;
    width: 60%;
}
