* {
    background-color: rgb(64, 138, 167);
    font-family: Montserrat, sans-serif;
}

input:focus::placeholder {
    color: transparent
}

.card {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 18%;

    text-align: center;
    color: #ffffff;

    height: 300px;
    width: 250px;
    background-color: rgb(92, 92, 92);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.form {
    background-color: rgb(92, 92, 92);
}

#title {
    background-color: rgb(92, 92, 92);
    margin-bottom: 30%;
}

#login {
    border-radius: 10px;
    background-color: rgb(54, 255, 47);
    text-align: center; 
    transition-duration: 0.5s;
    outline: none;
    padding: 4% 4% 4% 4%;
    cursor: pointer
}

#login:hover {
    border: 2px solid #ffffff;
}

#email:hover, #password:hover {
    cursor: pointer;
    border: 3px solid rgb(64, 138, 167)
}

#email:focus, #password:focus {
    border: 3px solid rgb(64, 138, 167);
    outline: 0
}

#email, #password {
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center; 
    transition-duration: 0.5s;
    outline: none;
    margin-bottom: 5%;
    padding: 2% 2% 2% 2%;
}
