nav#rightSidebar

    .rightSidebar-header.mb-2
        h3(id="titleSidebar") Chat

    a(class="nav-link d-flex align-items-center" href="#") 
        img(src="/images/user.svg" height="40" class="d-inline-block align-top mr-2" alt="")
        |  Nome do utilizador

    a(class="nav-link d-flex align-items-center" href="#") 
        img(src="/images/user.svg" height="40" class="d-inline-block align-top mr-2" alt="")
        |  Nome do utilizador

    //- ...