nav#rightSidebar

    .rightSidebar-header.mb-2
        h3 Chat

    if (user.friends.length > 0)
        each friend in user.friends
            a(class="nav-link d-flex align-items-center" href="#")
                img(src=`${friend.avatar}` height="40" class="d-inline-block align-top mr-2" alt="")
                span= friend.name
    else
        p(class="nav-link d-flex align-items-center") Nenhum amigo
