extends layout.pug
block content
    //- Navbar
    nav(class="navbar navbar-dark" style="background-color: rgb(64, 138, 167)")
        //- Logótipo ISN
        a(class="navbar-brand d-flex align-items-center aNavbar" href="#")
            img(src="/images/ISN.jpg" height="40" class="d-inline-block align-top mr-2" alt="")
            | ISN
        //- Links
        ul(class="nav row align-items-center")
            li(class="nav-item")
                a(class="nav-link active d-flex align-items-center aNavbar" href="#") 
                    img(src="/images/user.svg" height="40" class="d-inline-block align-top mr-2" alt="")
                    |  Nome do utilizador
            li(class="nav-item")
                a(class="nav-link mr-3 aNavbar" href="#") Página inicial
            //- Botão "Criar"
            div(class="dropdown")
                button(class="btn btn-success dropdown-toggle mr-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    | Criar
                div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                    a(class="dropdown-item" href="#") Grupo
                    div(class="dropdown-divider")
                    a(class="dropdown-item" href="#") Evento
                    div(class="dropdown-divider")
                    a(class="dropdown-item" href="#") Anúncio
            //- Pedidos de amizade
            li(class="nav-item")
                a(class="nav-link active d-flex align-items-center" href="#") 
                    img(src="/images/add.svg" height="30" class="d-inline-block align-top iconNavbar" alt="")
            //- Notificações
            li(class="nav-item")
                a(class="nav-link active d-flex align-items-center" href="#") 
                    img(src="/images/bell.svg" height="30" class="d-inline-block align-top iconNavbar" alt="")
            //- Opções (seta para baixo)
            li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" id="arrowNavbar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                div(class="dropdown-menu")
                    a(class="dropdown-item" href="#") Os meus grupos
                    a(class="dropdown-item" href="#") Definições
                    div(class="dropdown-divider")
                    a(class="dropdown-item" id="signOut" href="#") Terminar sessão
        //- Campo de pesquisa
        form(class="form-inline my-2 my-lg-0")
            input(class="form-control mr-sm-2" type="search" placeholder="Procurar")
            button(class="btn btn-warning my-2 my-sm-0" type="submit")
                | Procurar

    //- Layout
    div(class="container d-md-flex align-items-stretch")
        //- Links
        nav(id="links")
            div(class="p-4 pt-5")
                h3 ISN

        //- Conteúdo da página
        div(id="content" class="p-4 p-md-5 pt-5")
            h3(class="mb-4") Publicações
            p O Braga vai ganhar amanhã a Taça da Liga !

        nav(id="chat")
            div(class="p-4 pt-5")
                h3 Chat
            