extends layout.pug
block content

    include topNavbar.pug

    //- Layout    
    .wrapper
        //- Sidebar
        include leftNavbar.pug
        
        //- Page Content
        include content.pug

        //- Chat
        include chat.pug