doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/stylesheets/style-LoginRegister.css")
        link(rel="stylesheet", href="/stylesheets/all.min.css")
    body
        div(class="card")
            h1(id="title") Login
            form(class="form" action="/login" method="POST")
                i(class="far fa-envelope icon1")
                input(id="email1" type="text" name="email" placeholder="Email" required)
                br
                i(class="fas fa-key icon1")
                input(id="password1" type="password" name="password" placeholder="Password" required)
                br
                i(class="fas fa-sign-in-alt icon1")
                input(id="login" type="submit" value="Login")
