doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/stylesheets/styleLogin.css")
    body
        div(class="card")
            h1(id="title") Login
            form(class="form" action="/login" method="POST")
                input(id="email" type="text" name="email" placeholder="Email" required)
                br
                input(id="password" type="password" name="password" placeholder="Password" required)
                br
                input(id="login" type="submit" value="Login")
