doctype html
html
    head
        title Login
        //- Login style
        link(rel="stylesheet" href="/stylesheets/style-Login-Register.css")
        //- Bootstrap CSS
        link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    body
        .container
            .row
                .col-sm-9.col-md-7.col-lg-5.mx-auto
                    .card.card-register.my-5
                        .card-body
                            h5.card-title.text-center Login
                            form.form-signin(action="/login" method="POST")
                                .form-label-group
                                    input#inputEmail.form-control(type="email" name="email" placeholder="Email" required autofocus)
                                    label(for="inputEmail") Email
                                .form-label-group
                                    input#inputPassword.form-control(type="password" name="password" placeholder="Password" required)
                                    label(for="inputPassword") Password
                                button.btn.btn-lg.btn-block.text-uppercase#Login(type="submit") Login
                                hr.my-4
                            h5.card-title2.text-center Ainda não estás registado ?
                            button.btn.btn-lg.btn-block.text-uppercase#Option(onclick=`goToPage("register")`) Fazer registo
        
        //- JQuery 3.4.1
        script(src="/javascripts/jquery-3.4.1.slim.min.js")
        //- Bootstrap JS
        script(src="/javascripts/bootstrap.min.js")
        //- Axios
        script(src="/javascripts/axios.min.js")
        //- My JS
        script(src="/javascripts/actions.js")
