extends layout

block content
  h3 Agenda de Eventos: Registo de utilizador
  form.w3-container(action="/reg" method="POST")
    input.w3-input(type="text" name="email" placeholder="email")
    input.w3-input(type="text" name="nome" placeholder="nome")
    input.w3-input(type="password" name="password" placeholder="password")
    input(type="submit" value="Enviar")
    
