//- Top Navbar
nav(class="navbar navbar-dark fixed-top" style="background-color: rgb(64, 138, 167); border-bottom: 2px dashed #ffffff;")

    //- Logótipo ISN
    a(class="navbar-brand d-flex align-items-center topNavbar" href="/")
        img(src="/images/ISN.jpg" height="40" class="d-inline-block align-top mr-2" alt="")
        | ISN

    //- Links
    ul(class="nav row align-items-center")

        li(class="nav-item")
            a(class="nav-link active d-flex align-items-center topNavbar" href=`/profiles/${user.email}`) 
                img(src=`${user.avatar}` height="40" class="d-inline-block align-top mr-2" alt="")
                span= user.name

        //- Botão "Criar"
        div(class="dropdown")

            button(class="btn btn-success dropdown-toggle mr-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                | Criar

            div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                a(class="dropdown-item" href="#") Grupo
                div(class="dropdown-divider")
                a(class="dropdown-item" href="#") Evento

        //- Pedidos de amizade
        li(class="nav-item")
            a(class="nav-link active d-flex align-items-center" href="/friendRequests") 
                img(src="/images/add.svg" height="30" class="d-inline-block align-top iconNavbar" alt="")
                // TODO - embelezar número
                span= user.friendRequests.length

        //- Notificações
        li(class="nav-item")
            a(class="nav-link active d-flex align-items-center" href="#") 
                img(src="/images/bell.svg" height="30" class="d-inline-block align-top iconNavbar" alt="")

        //- Opções (seta para baixo)
        li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" id="arrowNavbar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
            div(class="dropdown-menu")
                a(class="dropdown-item" id="signOut" href="/logout") Terminar sessão

    //- Campo de pesquisa
    form(class="form-inline my-2 my-lg-0")
        input(class="form-control mr-sm-2" type="search" placeholder="Procurar")
        button(class="btn btn-warning my-2 my-sm-0" type="submit")
            | Procurar